<div class="fixedimage fixedimage--headphone"></div>

<div class="container">
    <div class="jumbotron">
        <h1 class="text-center text-white">Internship</h1>
    </div>
</div>

<div class="backgroundcolor--white">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Internship</h2>
                <markdown path="/reports/intro.md"></markdown>
            </div>
            <div class="col-md-4">
                <app-reportslist></app-reportslist>
            </div>
        </div>
    </div>
</div>