body {
  margin: 0;
  font-size: 1.7em;
}

.nav a.active {
  border-bottom: 3px solid white;
}

footer {
  margin-top: 50px;
}

footer .light-gray {
  background-color: #cdcdcd;
}

footer .black {
  background-color: #444;
  color: white;
}

footer .inner-footer {
  padding: 30px 0;
}

.fixedimage {
  position: fixed;
  height: 500px;
  background-size: 100%;
  width: 100%;
  z-index: -1;
}

.fixedimage.fixedimage--newspaper {
  background-image: url("../images/newspaper.jpg");
}


.fixedimage.fixedimage--asimo {
  background-image: url('../images/asimo.jpg'); 
}
.fixedimage.fixedimage--ny {
  background-image: url("../images/ny.jpg");
  background-position-y: -10px;
}
.fixedimage.fixedimage--headphone {
  background-image: url("../images/blackheadphones.jpg");
}

.backgroundcolor--white {
  background-color: white;
  padding-top: 30px;
}

.text-white {
  color: white !important;
}

.page-picture-container {
  height: 200px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

a.page-picture-container {
  display: block;
  box-sizing: border-box;
  border: 2px solid transparent;
}

a.page-picture-container:hover {
  border: 2px solid black;
}

.page-picture-horizontal {
  width: 100%;
}

.page-picture-vertical {
  height: 100%;
}

.page-picture-horizontal[src*="headphone.jpg"] {
    position: relative;
    top: -25px;
}

.page-picture-horizontal[src*="tanks.jpg"] {
    position: relative;
    top: -34px;
    width: 106%;
    left: -15px;
}

.page-picture-horizontal[src*="kodak.jpg"] {
  position: relative;
  top: -45px;
}

.page-picture-horizontal[src*="arduino robot.jpg"] {
    position: relative;
    top: -100px;
}

img[src*="cv.jpg"] {
    width: 100%;
    margin-top: 50px;
}

hr {
  border-bottom: 2px solid #444;
  margin: 50px 0;
}

.widget-title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
}

.bold {
  font-weight: bold;
}

.portfolio--item {
  padding: 25px 15px;
  margin: 15px 0;
  border-bottom: 2px solid #444;
}



.social-media a {
  margin: 0 5px;
}

.nav-footer {
  float: right;
}

.nav-footer > li > a {
  padding: 0;
  margin: 0 5px;
  border-bottom: none;
}

.nav-footer > li > a:hover {
  border-bottom: none;
  color: #aaa;
}

.nav-footer > li > a.active {
  border-bottom: none;
  color: #aaa;
}

.so {
  top: -7px;
}

.so .fa-inverse {
  color: #cdcdcd;
}