<div class="fixedimage fixedimage--headphone"></div>

<div class="container">
  <div class="jumbotron">
    <h1 class="text-center text-white">Portfolio</h1>
  </div>
</div>

<div class="backgroundcolor--white">
  <div class="container">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <div class="portfolio--item">
            <a href="#" class="page-picture-container"><img src="assets/images/markeonline.png" alt="Marke Online" class="page-picture-horizontal"></a>
            <h2 class="widget-title">Marke Online</h2>
            <p>Website om gemeenschap cultuur te versterken in deelgemeente Marke in opdracht van OCMW.</p>
            <p class="text-center">Tags: <i>ASP.NET MVC | C# | Azure</i></p>
          </div>
          <div class="portfolio--item">
            <a href="https://github.com/HeinPauwelyn/ArtistBrowser" title="Zie GitHub project" class="page-picture-container"><img src="assets/images/artist browser.png" alt="Artist Browser" class="page-picture-horizontal"></a>
            <h2 class="widget-title">Artist browser</h2>
            <p>Zoek en vind relevante artiesten op basis van uw favoriet.</p>
            <p class="text-center">Tags: <i>HTML | CSS | Ajax | JavaScript | Spotify API</i></p>
            <p class="text-center"><a href="" class="btn btn-primary">Bekijk GitHub project</a></p>
            <p class="text-center"><a href="" class="btn btn-primary">Bekijk website</a></p>
          </div>
          <div class="portfolio--item">
            <a href="https://github.com/HeinPauwelyn/SmartBox" class="page-picture-container" title="Bekijk GitHub project"><img src="assets/images/smartbox.png" alt="" class="page-picture-horizontal"></a>
            <h2 class="widget-title">Smart Box</h2>
            <p>Smart box die GPS locatie doorstuurt via LoRa en kan opvolgen en openen via smart phone applicatie.</p>
            <p class="text-center">Tags: <i>Xamarin | C# | Arduino | Raspberry Pi | Azure | Python</i></p>
            <p class="text-center"><a href="https://github.com/HeinPauwelyn/SmartBox" class="btn btn-primary">Bekijk GitHub project</a></p>
          </div>
          <div class="portfolio--item">
            <a href="https://github.com/HeinPauwelyn/IoTShop" class="page-picture-container" title="Bekijk GitHub project"><img src="assets/images/IoTShop.png" alt="" class="page-picture-horizontal"></a>
            <h2 class="widget-title">IoT Shop</h2>
            <p>Een verhuur shop voor hobby IoT bordjes zoals een Arduino, Raspberry Pi, Netduino...</p>
            <p class="text-center">Tags: <i>ASP.NET MVC | C# | Azure</i></p>
            <p class="text-center"><a href="https://github.com/HeinPauwelyn/IoTShop" class="btn btn-primary">Bekijk GitHub project</a></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="portfolio--item">
            <a href="https://github.com/bravolarske/RmnA0dykXg9Thg4ZMH8g" class="page-picture-container" title="Bekijk GitHub organisatie"><img src="assets/images/arduino robot.jpg" alt="" class="page-picture-horizontal"></a>
            <h2 class="widget-title">Arduino robot</h2>
            <p>Arduino robot die ofwel een zwarte lijn volgt, ofwel zelfstandig kan rijden door untrasone sensor ofwel via Android
              applicatie
            </p>
            <p class="text-center">Tags: <i>Arduino | C++ | Android</i></p>
            <p class="text-center"><a href="https://github.com/bravolarske/RmnA0dykXg9Thg4ZMH8g" class="btn btn-primary">Bekijk GitHub project</a></p>
          </div>
          <div class="portfolio--item">
            <a href="https://github.com/HeinPauwelyn/Roeteplanner" title="Zie GitHub project" class="page-picture-container"><img src="assets/images/roeteplanner.png" alt="" class="page-picture-horizontal"></a>
            <h2 class="widget-title">Roeteplanner</h2>
            <p>Project Android Applications + onderzoek Google Maps API voor Android.</p>
            <p class="text-center">Tags: <i>Andoid | Google Maps | Java</i></p>
            <p class="text-center"><a href="https://github.com/HeinPauwelyn/Roeteplanner" class="btn btn-primary">Bekijk GitHub project</a></p>
          </div>
          <div class="portfolio--item">
            <a href="https://github.com/HeinPauwelyn/FreeTime" class="page-picture-container" title="Bekijk GitHub project"><img src="assets/images/freetime.png" alt="" class="page-picture-horizontal"></a>
            <h2 class="widget-title">Free Time</h2>
            <p>FreeTime is een community blog site waar je kunt praten over uw (extreme) sport(en). Het is een interactieve
              webtoepassing voor gemeenschappelijke interesse gebieden.</p>
            <p class="text-center">Tags: <i>ASP.NET MVC | C# | SQL Server</i></p>
            <p class="text-center"><a href="https://github.com/HeinPauwelyn/FreeTime" class="btn btn-primary">Bekijk GitHub project</a></p>
          </div>
          <div class="portfolio--item">
            <a href="https://github.com/WatchFriends" class="page-picture-container" title="Bekijk GitHub organisatie"><img src="assets/images/watchfriends.png" alt="" class="page-picture-vertical"></a>
            <h2 class="widget-title">Watch Friends</h2>
            <p>Watch Friends is een applicatie voor het opvolgen van bekeken afleveringen van een serie.</p>
            <p class="text-center">Tags: <i>Android | HTML | Sass | Node.JS | JavaScript | Java</i></p>
            <p class="text-center"><a href="https://github.com/WatchFriends" class="btn btn-primary">Bekijk GitHub organisatie</a></p>
          </div>
          <div class="portfolio--item">
            <a href="https://github.com/HeinPauwelyn/Tanks" class="page-picture-container" title="Bekijk GitHub organisatie"><img src="assets/images/tanks.jpg" alt="" class="page-picture-horizontal"></a>
            <h2 class="widget-title">Tanks</h2>
            <p>Multiplayer 3D spel gemaakt met Unity</p>
            <p class="text-center">Tags: <i>Unity | C#</i></p>
            <p class="text-center"><a href="https://github.com/HeinPauwelyn/Tanks" class="btn btn-primary">Bekijk GitHub project</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <p class="text-center"><a href="files/cv.pdf" class="btn btn-primary">Download mijn CV! <span class="sr-only">PDF bestand</span></a></p>
      <p class="text-center"><a href="https://github.com/heinpauwelyn" class="btn btn-primary">Volg me op GitHub</a></p>
    </div>
  </div>
</div>assets/