<div class="fixedimage fixedimage--headphone"></div>

<div class="container">
  <div class="jumbotron">
    <h1 class="text-center text-white">Portfolio</h1>
  </div>
</div>

<div class="backgroundcolor--white">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="portfolio--item">
            <a href="http://markeonline.kortrijk.be" class="page-picture-container"><img src="assets/images/markeonline.png" alt="Marke Online" class="page-picture-horizontal"></a>
            <h2 class="widget-title">Marke Online</h2>
            <p>Website to strengthen the community culture at district Marke commissioned the OCMW.</p>
            <p class="text-center">Tags: <i>ASP.NET MVC | C# | Azure</i></p>
            <p class="text-center"><a href="http://markeonline.kortrijk.be" class="btn btn-primary">Visit the site at markeonline.kortrijk.be</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="portfolio--item">
            <a href="https://github.com/HeinPauwelyn/FreeTime" class="page-picture-container" title="Bekijk GitHub project"><img src="assets/images/freetime.png" alt="" class="page-picture-horizontal"></a>
            <h2 class="widget-title">Free Time</h2>
            <p>FreeTime is a community blog site where you can talk about your (extreme) sport(s). It is an interactive web
              application for areas of common interest.</p>
            <p class="text-center">Tags: <i>ASP.NET MVC | C# | SQL Server</i></p>
            <p class="text-center"><a href="https://github.com/HeinPauwelyn/FreeTime" class="btn btn-primary">Bekijk GitHub project</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="portfolio--item">
            <a href="https://github.com/WatchFriends" class="page-picture-container" title="Bekijk GitHub organisatie"><img src="assets/images/watchfriends.png" alt="" class="page-picture-vertical"></a>
            <h2 class="widget-title">Watch Friends</h2>
            <p>WatchFriends is an application for tracking watched episodes of a series.</p>
            <p class="text-center">Tags: <i>Android | Angular 2 | Java</i></p>
            <p class="text-center"><a href="https://github.com/WatchFriends" class="btn btn-primary">Watch GitHub organization</a></p>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>