<div class="content-wrap">
    <app-nav></app-nav>
    <router-outlet></router-outlet>
</div>
<footer>
    <div class="light-gray inner-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="widget-title">Contact me</h2>
                    <p><span class="bold">Email:</span> <a href="mailto:hein_pauwelyn@hotmail.com">hein_pauwelyn@hotmail.com</a></p>
                    <p><span class="bold">Mobile:</span> <a href="tel:+32474283834">+32 (0)474/28.38.34</a></p>
                </div>
                <div class="col-md-4">
                    <h2 class="widget-title">Follow me</h2>
                    <p class="social-media text-center">
                        <a href="https://www.facebook.com/hein.pauwelyn" title="Facebook"><i class="fa fa-facebook-square fa-2x fa-fw"></i></a>
                        <a href="https://www.linkedin.com/in/hein-pauwelyn-510a94116" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x fa-fw"></i></a>
                        <a href="http://stackoverflow.com/users/4551041/h-pauwelyn" title="Stack Overflow"><span class="fa-stack so"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i></span></a>
                        <a href="https://github.com/HeinPauwelyn" title="GitHub"><i class="fa fa-github-square fa-2x fa-fw"></i></a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2 class="widget-title">About me</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="black inner-footer small">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p></p>
                </div>
                <div class="col-md-8">
                    <ul class="nav navbar-nav nav-footer">
                        <li><a routerLink="/home" class="active">Home</a></li>
                        <li><a routerLink="/over">About</a></li>
                        <li><a routerLink="/cv">CV</a></li>
                        <li><a routerLink="/portfolio">Portfolio</a></li>
                        <li><a routerLink="/stage">Internship</a></li>
                        <li><a routerLink="/blog">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>