<div class="content-wrap">
    <app-nav></app-nav>
    <router-outlet></router-outlet>
</div>
<footer>
    <div class="light-gray inner-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="widget-title">Contacteer me</h2>
                    <p><span class="bold">E-mail:</span> <a href="mailto:hein_pauwelyn@hotmail.com">hein_pauwelyn@hotmail.com</a></p>
                </div>
                <div class="col-md-4">
                    <h2 class="widget-title">Volg me</h2>
                    <p class="social-media text-center">
                        <a href="https://www.facebook.com/hein.pauwelyn" title="Facebook"><i class="fa fa-facebook-square fa-2x fa-fw"></i></a>
                        <a href="https://www.linkedin.com/in/hein-pauwelyn-510a94116" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x fa-fw"></i></a>
                        <a href="http://stackoverflow.com/users/4551041/h-pauwelyn" title="Stack Overflow"><span class="fa-stack so"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i></span></a>
                        <a href="https://github.com/HeinPauwelyn" title="GitHub"><i class="fa fa-github-square fa-2x fa-fw"></i></a>
                        <a href="http://www.codeproject.com/Members/HeinPauwelyn" title="Code Project"><span class="fa-stack so"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-code fa-stack-1x fa-inverse"></i></span></a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2 class="widget-title">Over</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="black inner-footer small">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>Deze site werd mogelijk gemaakt door <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>.</p>
                </div>
                <div class="col-md-8">
                    <ul class="nav navbar-nav nav-footer">
                        <li><a href="index.html" class="active">Home</a></li>
                        <li><a href="over.html">Over</a></li>
                        <li><a href="cv.html">CV</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="stage.html">Stage</a></li>
                        <li><a href="blog.html">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>