<div class="fixedimage fixedimage--ny"></div>

<div class="container">
    <div class="jumbotron">
    </div>
</div>

<div class="backgroundcolor--white">
    <div class="container">
        <div class="row page-overview">
            <div class="col-md-4">
                <a class="page-picture-container" href="over.html"><img class="page-picture-horizontal" src="assets/images/headphone.jpg" alt=""></a>
                <h2 class="widget-title">Over</h2>
                <p>Wie ben ik? Wat doe ik? En hoe werk ik?</p>
                <p class="text-center"><a href="over.html" class="btn btn-primary">Bekijk pagina</a></p>
            </div>
            <div class="col-md-4">
                <a class="page-picture-container" href="portfolio.html"><img class="page-picture-horizontal" src="assets/images/kodak.jpg" alt=""></a>
                <h2 class="widget-title">Portfolio</h2>
                <p>Al mijn gerealiseerde projecten.</p>
                <p class="text-center"><a href="portfolio.html" class="btn btn-primary">Bekijk pagina</a></p>
            </div>
            <div class="col-md-4">
                <a class="page-picture-container" href="blog.html"><img class="page-picture-horizontal" src="assets/images/newspaper.jpg" alt=""></a>
                <h2 class="widget-title">Blog</h2>
                <p>Al mijn geschreven en gesproken artikelen</p>
                <p class="text-center"><a href="blog.html" class="btn btn-primary">Bekijk pagina</a></p>
            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="widget-title">Persoonlijke gegevens</h2>
                <p><span class="bold">Leergierig:</span> Schrikt niet af om nieuwe talen te leren</p>
                <p><span class="bold">Flexibel:</span> Geen 9-tot-5-mentaliteit</p>
                <p><span class="bold">Stressbestendig:</span> Werken tegen deadlines is geen probleem</p>
                <p><span class="bold">Landbouwerszoon:</span> Niet bang om te werken</p>
            </div>
            <div class="col-md-4">

                <h2 class="widget-title">Programmeer kennis</h2>
                <ul>
                    <li>C#</li>
                    <li>.NET framework</li>
                    <li>SQL</li>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>Azure</li>
                    <li>GitHub</li>
                    <li>Java</li>
                    <li>Android development</li>
                    <li>CSS/Sass</li>
                    <li>Node.JS</li>
                    <li>PHP</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2 class="widget-title">Studies &amp; diploma's</h2>
                <p><span class="bold">Van 2014 tot heden:</span> NMCT @ HoWest Kortrijk</p>
                <p><span class="bold">Van 2013 tot 2014:</span> Analist-programmeur @ Syntra West</p>
                <p><span class="bold">Behaale diploma's:</span></p>
                <ul>
                    <li>CCNA1</li>
                    <li>Syntra West Analist-programmeur</li>
                </ul>
            </div>
        </div>
    </div>
</div>