<div class="fixedimage fixedimage--ny"></div>

<div class="container">
    <div class="jumbotron text-center">
        <img src="assets/images/ik.jpg" class="me" />
    </div>
</div>

<div class="backgroundcolor--white">
    <div class="container">
        <div class="row page-overview">
            <div class="col-md-4">
                <a class="page-picture-container" routerLink="/over"><img class="page-picture-horizontal" src="assets/images/headphone.jpg" alt=""></a>
                <h2 class="widget-title">About</h2>
                <p>Who am I?</p>
            </div>
            <div class="col-md-4">
                <a class="page-picture-container" routerLink="/portfolio"><img class="page-picture-horizontal" src="assets/images/kodak.jpg" alt=""></a>
                <h2 class="widget-title">Portfolio</h2>
                <p>Here you can find my completed projects.</p>
            </div>
            <div class="col-md-4">
                <a class="page-picture-container" routerLink="/stage"><img class="page-picture-horizontal" src="assets/images/newspaper.jpg" alt=""></a>
                <h2 class="widget-title">Internship</h2>
                <p>Everything about my internship.</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="widget-title">Personal information</h2>
                <p><span class="bold">Eager to learn:</span> Not afraid to learn new languages</p>
                <p><span class="bold">Flexible:</span> No 9-to-5 mentality</p>
                <p><span class="bold">stress resistant:</span> Working against deadlines is no problem</p>
                <p><span class="bold">Farmers son:</span> Not afraid to work</p>
            </div>
            <div class="col-md-4">

                <h2 class="widget-title">Programming knowledge</h2>
                <ul>
                    <li>C#</li>
                    <li>.NET framework</li>
                    <li>SQL</li>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>Azure</li>
                    <li>Git</li>
                    <li>Java</li>
                    <li>Android development</li>
                    <li>CSS/Sass</li>
                    <li>Node.JS</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2 class="widget-title">Studies</h2>
                <p><span class="bold">From 2014 till present day:</span> NMCT @ HoWest Kortrijk</p>
                <p><span class="bold">From 2013 till 2014:</span> Analist-programmeur @ Syntra West</p>
            </div>
        </div>
    </div>
</div>