<div class="fixedimage fixedimage--headphone"></div>

<div class="container">
  <div class="jumbotron">
    <h1 class="text-center text-white">Over</h1>
  </div>
</div>

<div class="backgroundcolor--white">
  <div class="container">
    <div class="col-md-8">
      <p>Hallo</p>
      <p>Ik ben Hein Pauwelyn, <span class="bold">een gemotiveerde technische jonge heer</span> geboren op <span class="bold">7 januari 1994</span>        in Roeselare, momenteel wonende in Menen bij mijn ouders. Ik studeer te Howest Kortrijk de bachelor opleiding
        <span class="bold">New Media and Communication Tecnology</span>.</p>
      <p>Ik ben <span class="bold">gemotiveerd, technisch, leergierig en toekomstgericht</span> over alles wat met computers
        en <span class="bold">robotica</span> te maken heeft. Mijn droom is dan ook een echte robot te gaan programmeren
        en ermee te werken en volg daarom de nieuwste ontwikkelingen in de IT dan ook nauwgezet op via het internet. Daarnaast
        ben ik ook gebeten van <span class="bold">VR en AR</span>.</p>
      <p>Ik heb ook een account op <span class="bold">Stack Overflow</span> waar ik terecht kan met mijn vragen maar ook andere
        mesnen help met hun vragen. Hieronder ziet u mijn reputatie.</p>
      <a href="http://stackexchange.com/users/5766114">
        <img src="https://i1.wp.com/stackexchange.com/users/flair/5766114.png" width="208" height="58" alt="profile for H. Pauwelyn on Stack Exchange, a network of free, community-driven Q&amp;A sites"
          title="profiel van Hein Pauwelyn op Stack Exchange, een gratis netwerk voor community-driven vraag en antwoord" srcset="https://i1.wp.com/stackexchange.com/users/flair/5766114.png?zoom=2 1.5x"
          scale="1.5">
      </a>
    </div>

    <div class="col-md-4">
      <p class="text-center"><a href="files/cv.pdf" class="btn btn-primary">Download mijn CV! <span class="sr-only">PDF bestand</span></a></p>
      <p class="text-center"><a href="https://github.com/heinpauwelyn" class="btn btn-primary">Volg me op GitHub</a></p>
    </div>
  </div>
</div>