<div class="fixedimage fixedimage--headphone"></div>

<div class="container">
  <div class="jumbotron">
    <h1 class="text-center text-white">About</h1>
  </div>
</div>

<div class="backgroundcolor--white">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <p>Hello</p>
      <p>I'm Hein Pauwelyn, a technical motivated young gentleman born on January 7, 1994 at Roeselare, currently living in
        Menen. I'm studying for the bachelor education NMCT (New Media and Communication Tecnology) at Howest Kortrijk.</p>
      <p>I'm motivated, technically, inquisitive and future focused on everything to do with computers and robotics. My dream
        is also to go to program a real robot and work with it. Therefore, I follow the latest developments in IT closely
        via the internet</p>
      <p>I've also an account on Stack Overflow. Below you could find my reputation.</p>
      <a href="http://stackexchange.com/users/5766114">
        <img src="https://i1.wp.com/stackexchange.com/users/flair/5766114.png" width="208" height="58" alt="profile for H. Pauwelyn on Stack Exchange, a network of free, community-driven Q&amp;A sites"
          title="profiel van Hein Pauwelyn op Stack Exchange, een gratis netwerk voor community-driven vraag en antwoord" srcset="https://i1.wp.com/stackexchange.com/users/flair/5766114.png?zoom=2 1.5x"
          scale="1.5">
      </a>
    </div>
  </div>
</div>